<html>
<head>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
</head>
<body>
<h1>Programação das Lives</h1>

<ul>
    {{#forEach lives }}
        <li>{{ name }}</li>
    {{/forEach}}
</ul>

<script src="/js/bootstrap.js"></script>
</body>
</html>